body {
  font-family: "Open Sans";
  background-color: #9dbf9e;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Montserrat";
}
.list-group-item + .list-group-item,
.list-group-item-action,
.list-group-item-action:first-child,
.list-group-item-action:last-child {
  background-color: #d0d6b5;
  line-height: 1;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ee7674;
  box-shadow: 0 0 3px #ee7674;
  transition: font-weight 0.25s linear, background-color 0.25s linear, transform 0.1s linear;
}
.list-group-item + .list-group-item:hover,
.list-group-item-action:hover,
.list-group-item-action:first-child:hover,
.list-group-item-action:last-child:hover {
  background-color: #e6e9d8;
  transform: scale(1.2);
  font-weight: 500;
}
.logo {
  max-width: 100px;
}
